<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669909224937-mrchn2c8lfucah5hl39nvcdiiaf6hd2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669909224937-mrchn2c8lfucah5hl39nvcdiiaf6hd2u</string>
	<key>API_KEY</key>
	<string>AIzaSyCIDbMzpbt4dy9L5Cf1P2zJHBptxU4JFTw</string>
	<key>GCM_SENDER_ID</key>
	<string>669909224937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.beaversoft.gachilibrary</string>
	<key>PROJECT_ID</key>
	<string>gachi-library-imdc</string>
	<key>STORAGE_BUCKET</key>
	<string>gachi-library-imdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669909224937:ios:c7c9b51ce649d0a9624f78</string>
</dict>
</plist>