<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056707118735-cv8om8ln0dr5l7ekom7dqbaj9t350eh9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056707118735-cv8om8ln0dr5l7ekom7dqbaj9t350eh9</string>
	<key>API_KEY</key>
	<string>AIzaSyArnJz7Q0W3lbyUSFwo31eDFpbKBckApoE</string>
	<key>GCM_SENDER_ID</key>
	<string>1056707118735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.beaversoft.gachilibrary</string>
	<key>PROJECT_ID</key>
	<string>gachi-library</string>
	<key>STORAGE_BUCKET</key>
	<string>gachi-library.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056707118735:ios:7fcf0e2ace6c1a2d6c52fa</string>
</dict>
</plist>